.Parent{
    padding: 25px;
    background-color: cadetblue;
}
.child{
    border: 2px solid rgb(14, 110, 14);
    background-color: azure;
    padding: 10px; font-size: 25px;
    margin: 15px 15px 15px 15px;
}
.Teacher{ padding: 25px; background-color: darkgoldenrod; display: flex;

}
.Student{ border: 10px rgb(89, 90, 41);
    background-color: greenyellow;
    padding: 15px; font-size: 20px;
    margin: 15px 15px 15px 15px;

}